<ion-view title="Cadastrar estilos" id="instrumentos" ng-controller="instrumentoCtrl as inst">
    <ion-content padding="true" class="has-header">

        <div class="list">
            
            <label class="item item-input item-select">
                <div class="input-label">
                    Instrumentos
                </div>
                <select ng-model="inst.formData.instrumento">
                <option>GUITARRA</option>
                <option selected>BAIXO</option>
                <option>TECLADO</option>
                <option>BATERIA</option>
                </select>
            </label>
            <div class="item">
                <span class="input-label">Meu nível</span>       
                <ionic-ratings ratingsobj='ratingsObject' index='0' style="font-size: 40px;z-index:9999999"></ionic-ratings>
            </div>
            <div class="item" style="text-align:center">
                <button class="button button-outline button-calm" ng-click="inst.addInstrumento()">
                    Incluir
                </button>
            </div>
        </div>
  
        
        
        <div class="list" >

            <div class="item item-button-right" ng-repeat="item in inst.formData.listInstrumentos">
                {{item.nome}}
                <a class="button button-small button-icon icon-small ion-close" ng-click="inst.removeInstrumento(item)"></a>
            </div>
            
        </div>
        
        <div class="bar bar-footer bar-calm">
            <div class="title">Avançar</div>
        </div>
          
    </ion-content>
</ion-view>

