<ion-view title="Cadastrar instrumentos" id="instrumentos" ng-controller="instrumentoCtrl as inst">
    <ion-content padding="true" class="has-header">

        <div class="list">
            
            <label class="item item-input item-select">
                <div class="input-label">
                    Instrumentos
                </div>
                <select>
                <option>GUITARRA</option>
                <option selected>BAIXO</option>
                <option>TECLADO</option>
                <option>BATERIA</option>
                </select>
            </label>
            <div class="item">
                <span class="input-label">Meu nível</span>       
                <ionic-ratings ratingsobj='ratingsObject' index='0' style="font-size: 40px;z-index:9999999"></ionic-ratings>
            </div>
        </div>
  
        <button class="button button-full button-calm" ng-click="cad.cadastrar()">
            Incluir
        </button>
        
        <div class="list">

            <div class="item item-button-right">
                Guitarra
                <a class="button button-small button-icon icon-small ion-close"></a>
            </div>
            
            <div class="item item-button-right">
                Baixo
                <a class="button button-small button-icon icon-small ion-close"></a>
            </div>
            
            <div class="item item-button-right">
                Teclado
                <a class="button button-icon icon-small ion-close"></a>
            </div>
            
            

        </div>
        
        <div class="bar bar-footer bar-calm">
            <div class="title">Pronto!</div>
        </div>
          
    </ion-content>
</ion-view>