
<ion-view title="{{cad.titulo}}" id="cadastrar" ng-controller="cadastrarCtrl as cad" ng-init="cad.pageLoad()">
    
    <ion-content padding="true" class="has-header">

        <div ng-show="cad.step == 0">
            
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Digite seu nome" ng-model="cad.formData.Nome" >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">E-mail</span>
                    <input type="text" placeholder="Digite seu email" ng-model="cad.formData.Email" readonly>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Descrição</span>
                    <textarea placeholder="Comente um pouco sobre você" ng-model="cad.formData.Descricao"></textarea>
                </label>
                
                <button class="button button-full button-assertive">
                    Cancelar
                </button>

                <div class="button button-full button-calm" ng-click="cad.irInstrumentos()">
                    <div class="title">Avançar</div>
                </div>

            </div>
                
            
            
        </div>
        
        <div ng-show="cad.step == 1">
            
            <h6>Você pode escolher até 3 instrumentos</h6>
        
            <div class="list">
                
                <label class="item item-input item-select">
                    <div class="input-label">
                        Instrumento
                    </div>
                    <select ng-model="cad.formData.instrumento">
                        <option ng-repeat="item in cad.formData.listInstrumentosDisponiveis | filter: cad.filterAlreadyAdded" ng-value="item.IdInstrumento">
                            {{item.NmInstrumento}}
                        </option>
                    </select>
                </label>
                <div class="item">
                    <span class="input-label">Meu nível</span>       
                    <ionic-ratings ratingsobj='ratingsObject' index='0' style="font-size: 40px;z-index:9999999"></ionic-ratings>
                </div>
                <div class="item" style="text-align:center">
                    <button class="button button-outline button-calm" ng-click="cad.addInstrumento()">
                        Incluir
                    </button>
                </div>
            </div>
                
            <div class="list" >

                <div class="item item-button-right" ng-repeat="item in cad.formData.listInstrumentos">
                    {{item.NmInstrumento}}
                    <a class="button button-small button-icon icon-small ion-close" ng-click="cad.removeInstrumento(item)"></a>
                </div>
                
            </div>
            
            <div class="button button-full button-calm" ng-click="cad.irEstilos()">
                <div class="title">Avançar</div>
            </div>
            
        </div>
        
        <div ng-show="cad.step == 2">
            
            <h6>Você pode escolher até 5 estilos</h6>
        
            <div class="list">
                
                <label class="item item-input item-select">
                    <div class="input-label">
                        Estilo
                    </div>
                    <select ng-model="cad.formData.estilo">
                        <option ng-repeat="item in cad.formData.listEstilosDisponiveis | filter: cad.filterAlreadyAddedEstilos" ng-value="item.IdEstilo">
                            {{item.NmEstilo}}
                        </option>
                    </select>
                </label>
                
                <div class="item" style="text-align:center">
                    <button class="button button-outline button-calm" ng-click="cad.addEstilo()">
                        Incluir
                    </button>
                </div>
            </div>
                
            <div class="list" >

                <div class="item item-button-right" ng-repeat="item in cad.formData.listEstilos">
                    {{item.NmEstilo}}
                    <a class="button button-small button-icon icon-small ion-close" ng-click="cad.removeEstilo(item)"></a>
                </div>
                
            </div>
            
            <div class="button button-full button-calm" ng-click="cad.concluir()">
                <div class="title">Pronto!</div>
            </div>
            
        </div>

    </ion-content>
</ion-view>