<ion-view title="Meus instrumentos" id="menu.instrumentos">
    <ion-content padding="true" class="has-header">

        <div class="list card">

            <div class="item item-energized item-avatar">
                <img src="img/11-128.png">
                <h2>Bateria</h2>
                <p>Nine Inch Nails</p>
            </div>

            <div class="item item-image">
                <img src="img/LPdh0vISuqP9VyIY0Oor_12342516_10205843398544027_4939203811483494240_n.jpg">
            </div>

            <a class="item item-energized item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i> Start listening
            </a>

        </div>

        <div class="list card">

            <div class="item item-calm item-avatar">
                <img src="img/9-128.png">
                <h2>Guitarra</h2>
                <p>Nine Inch Nails</p>
            </div>

            <div class="item item-image">
                <img src="img/RJj5YLjgR4S4qL7ReS3Q_12512713_923114667773467_7321166200608029898_n.jpg">
            </div>

            <a class="item item-calm item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i> Start listening
            </a>

        </div>


    </ion-content>
</ion-view>