<ion-view title="Meu perfil" id="menu.perfil" ng-controller="cadastrarCtrl as cad">
  <ion-content padding="true" class="has-header">

    <form id="buscar-form1" class="list">
        <label class="item item-input">
          <input type="text" placeholder="Nome" readonly>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="E-mail" readonly>
        </label>
        <label class="item item-input">
          <textarea placeholder="Descrição" rows="8"></textarea>
        </label>
        
      </form>

      <div class="bar bar-footer bar-calm">
          <div class="title">Salvar</div>
      </div>

<!--<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Guitarra</h2>
      
      
      
    </a>
    <label class="item">
      <ionic-ratings ratingsobj='ratingsObject' index='0' style="font-size: 35px;z-index:9999999;"></ionic-ratings>
    </label>
</div>

      <form id="buscar-form2" class="list">
        <ion-toggle toggle-class="toggle-positive" id="buscar-toggle1">Rock</ion-toggle>
      </form>
      <form id="buscar-form3" class="list">
        <ion-toggle toggle-class="toggle-positive" id="buscar-toggle2">Jazz</ion-toggle>
      </form>
      <form id="buscar-form4" class="list">
        <div id="buscar-button-bar1" class="button-bar"></div>
        <ion-toggle toggle-class="toggle-positive" id="buscar-toggle3">Black Music</ion-toggle>
    </form>-->

  </ion-content>

  

</ion-view>