<ion-view title="Resultado" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="resultado-list-item-container2">
      <div id="resultado-markdown4" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Resultado de
          <strong>Guitarristas</strong>
        </p>
      </div>
      <ion-list id="resultado-list8">
        <ion-item class="item-avatar item-icon-right calm" id="resultado-list-item9">
          <img src="img/LPdh0vISuqP9VyIY0Oor_12342516_10205843398544027_4939203811483494240_n.jpg">
          <h2calm>Gustavo Handa
            <p style="white-space:normal;">Toco guitarra a 17 anos, sou fera, toco pra cara...</p>
            <i class="icon ion-checkmark"></i>
          </h2calm>
        </ion-item>
        <ion-item class="item-avatar item-icon-right calm" id="resultado-list-item13">
          <img src="img/RJj5YLjgR4S4qL7ReS3Q_12512713_923114667773467_7321166200608029898_n.jpg">
          <h2calm>Bruno Ferla
            <p style="white-space:normal;">To procurando uma banda Gospel, só.</p>
            <i class="icon ion-android-person-add"></i>
          </h2calm>
        </ion-item>
        <ion-item class="item-avatar item-icon-right calm" id="resultado-list-item14">
          <img src="img/xDgdtj0RRGtap69dSElA_15781638_10211752906480707_4380300982532068908_n.jpg">
          <h2calm>Danilo Chicale
            <p style="white-space:normal;">Um dia eu toco ai</p>
            <i class="icon ion-android-person-add"></i>
          </h2calm>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>